<div>
  <h2>Artists</h2>

  <div id="artists">
    {{#each artists as |artist| }}
    <p>{{artist.name}}</p>
    <a href="/admin/artists/delete/{{artist._id}}">
      <button>Delete artist</button>
    </a>
    {{/each}}
  </div>

  <div id="create-artist">
    <form action="/admin/artists/create" method="POST">
      <input type="text" name="name" />
      <input type="text" name="genre" />
      <input type="text" name="members" />
      <input type="number" name="rating" min="1" max="10" />
      <input type="number" name="year" />
      <input type="submit" value="Create artist">
    </form>
  </div>

</div>