<div>
  <h2>Welcome home {{loggedUser.name}}, my lord</h2>
  <a href="/admin/artists">Artists</a>
  <a href="/admin/users">Users</a>
  <a href="/admin/comments">Comments</a>
  <a href="/logout">Logout</a>
</div>